<strong>Olá {{ student }}, seu pedido de auxílio foi respondido!</strong>
<p>Seu questionamento feito em {{ questionDate }}:</p>
<p>{{ question }}</p>
<p>Resposta da Gympoint em {{ answerDate }}:</p>
<p>{{ answer }}</p>
<p>Agradecemos seu contato! Quaisquer outras dúvidas basta <a href="mailto:contact@gympoint.com">entrar em contato</a>.
</p>
<p>Grande abraço!</p>
