<strong>Olá {{ student }}!</strong>
<p>Seja bem-vindo(a) ao Gympoint, sua porta de entrada para uma vida mais saudável!</p>
<p>Estamos enviando este e-mail para te avisar que sua matrícula foi realizada com sucesso. Os dados referentes à sua
  matrícula podem ser conferidos abaixo:</p>
<p>
  <strong>Nome: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ planTitle }} ({{ planDuration }} meses) <br />
  <strong>Preço total: </strong> R${{ price }},00 <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
</p>
<p>Desejamos sucesso em sua jornada e se precisar basta <a href="mailto:contact@gympoint.com">entrar em contato</a>
  conosco. Grande abraço!</p>
